
<div class="row">
    <div class="col-xs-12 center-block">
        <img src="assets/img/burger.jpg" alt="burger">
        <br>
    </div>
</div>
<br>  
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h3>EAT ME</h3>
    <ul>
      {{#each burgers}}
        {{#unless devoured}}
        <div class="row">
          <div class="box col-sm-6">
              {{this.id}}  {{this.burger_name}}
          </div>
          <form class="col-sm-6" action="/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="{{this.burger_name}}" value="{{this.id}}">
            <button type="submit">Eat The Burger</button>
          </form>
        </div>
        <br>
        {{/unless}}
        {{/each}}
    </ul>
  </div>
  <div class="col-xs-12 col-sm-6">
      <h3>Gobbled Up</h3>
      <ul>
          {{#each burgers}}
              {{#if devoured}}
                <div class="box">
                  {{this.burger_name}}
                </div>
                <br>  
              {{/if}}
          {{/each}}
      </ul>
  </div>
</div>
  <div class="row">
      <div class="center-block col-xs-12 col-sm-4 col-sm-offset-4">
          <h3>Enter Your Own Simple Burger</h3>
          <form class="create-update-form add-form" action="/" method="POST">
              <div class="form-group">
                  <label for="burger" class="sr-only">Burger Name:</label>
                  <input type="text" id="burger" name="name" placeholder="Burger Name" class="form-control" maxlength="30">
              </div>
              <button type="submit" class="btn btn-danger">Order Now</button>
          </form>
      </div>
  </div>
